.list

    .item.item-divider= t('phone2cozy title')

    if locale == 'digidisk'
        .item.item-checkbox= t('contacts sync label')
            label.checkbox: input#contactSyncCheck(type="checkbox", checked=syncContacts)

    .item.item-checkbox= t('images sync label')
        label.checkbox: input#imageSyncCheck(type="checkbox", checked=syncImages)

    .item.item-checkbox= t('wifi sync label')
        label.checkbox: input#wifiSyncCheck(type="checkbox", checked=syncOnWifi)

    if firstRun

        .item
            button#configDone.button.button-block.button-balanced= t('next')

    else

        #doBackup.item.item-icon-left
            i.icon.ion-clock
            span.text
                = t('last backup')
                | &nbsp;#{lastBackup}.

        .item.item-divider= t('about')

        .item= t('synchronized with') + cozyURL
        .item= t('device name') + ' : ' + deviceName
        .item= t('app name') + ' v0.0.5'

        .item.item-divider= t('reset')

        .item.item-button-left(style="padding-left: 95px; white-space: normal;")
            button#redbtn.button.button-assertive= t('reset')
            = t('reset warning')