.list

    .item.item-divider= t('phone2cozy title')

    .item.item-checkbox= t('contacts sync label')
        label.checkbox: input#contactSyncCheck(type="checkbox", checked=syncContacts)
    .item.item-checkbox= t('calendars sync label')
        label.checkbox: input#calendarSyncCheck(type="checkbox", checked=syncCalendars)

    .item.item-checkbox= t('images sync label')
        label.checkbox: input#imageSyncCheck(type="checkbox", checked=syncImages)

    .item.item-checkbox= t('wifi sync label')
        label.checkbox: input#wifiSyncCheck(type="checkbox", checked=syncOnWifi)

    .item.item-checkbox= t('cozy notifications sync label')
        label.checkbox: input#cozyNotificationsCheck(type="checkbox", checked=cozyNotifications)

    if initState === 'fConfig' || initState === 'mConfig'
        .item
            button#configDone.button.button-block.button-balanced= t('next')

    else
        #doBackup.item.item-icon
            .icon-backup
            span.text
                = t('last backup')
                | &nbsp;#{lastBackup}.

        .item.item-divider= t('about')

        .item= t('synchronized with') + " " + cozyURL
        .item= t('device name') + ' : ' + deviceName
        .item= t('app name') + ' v' + appVersion

        .item.item-divider= t('reset title')

        .item
            p= t('synchro warning')
            button#synchrobtn.button.button-grey.button-full-width= t('retry synchro')

        .item
            p= t('reset warning')
            button#redbtn.button.button-energized.button-full-width= t('reset action')

        .item.item-divider= t('support')

        .item
            p= t('send log info')
            button#sendlogbtn.button.button-grey.button-full-width= t('send log')


