//- config screen template

#deviceNamePicker.list
    .card
        .item.item-text-wrap= t('device name explanation')
    .card
        label.item.item-input.item-stacked-label
            span.input-label= t('device name')
            input#input-device(type="text", placeholder="#{t('device name placeholder')}")

    .button-bar.item-input
        button#btn-back.button.button-dark.icon-left.ion-chevron-left.button-clear= t('back')
        button#btn-save.button.button-balanced= t('next')