button#btn-back-fsm ◀

if error
    div.error-msg!= error

label
    input#input-password(
        autofocus=true,
        type="password",
        placeholder=t('password placeholder'),
        value=password)
    = t('password help', {url: cozyURL})

.button-block
    if saving
        button#btn-login.button.button-block= t('authenticating...')
    else
        button#btn-login.button.button-block= t('login')
