.list

    if device.platform === 'Android'
        .item.item-divider= t('synchronisation title')

        .item.checkbox
            input#contactSyncCheck(type="checkbox", checked=syncContacts)
            label(for='contactSyncCheck')= t('contacts sync label')

        .item.checkbox
            input#calendarSyncCheck(type="checkbox", checked=syncCalendars)
            label(for='calendarSyncCheck')= t('calendars sync label')

        .item.checkbox
            input#cozyNotificationsCheck(type="checkbox", checked=cozyNotifications)
            label(for='cozyNotificationsCheck')= t('cozy notifications sync label')


    .item.item-divider= t('backup title')

    if device.platform === 'Android'
        .item.checkbox
            input#imageSyncCheck(type="checkbox", checked=syncImages)
            label(for='imageSyncCheck')= t('images sync label')

    .item.checkbox
        input#wifiSyncCheck(type="checkbox", checked=syncOnWifi)
        label(for='wifiSyncCheck')= t('wifi sync label')

    if initState === 'fConfig' || initState === 'mConfig'
        .item
            button#configDone.button.button-block.button-balanced= t('next')

    else

        .item.item-divider= t('about')

        #doBackup.item.item-icon
            .icon-backup
            span.text
                = t('last backup')
                | &nbsp;#{lastBackup}.

        .item= t('synchronized with') + " " + cozyURL
        .item= t('device name') + ' : ' + deviceName
        .item= t('app name') + ' v' + appVersion

        .item.item-divider= t('reset title')

        .item
            p= t('synchro warning')
            button#synchrobtn.button.button-grey.button-full-width= t('retry synchro')

        .item.item-divider= t('support')

        .item
            p= t('send log info')
            button#sendlogbtn.button.button-grey.button-full-width= t('send log')


