if running

    .collection.files.z-depth-2.snap-content
        .valign-wrapper
            .center.cozy-color
                .row
                    .col.s8.offset-s2

                        h2.display-icon
                            if taskName == 'contacts'
                                i.material-icons people
                            else if taskName == 'calendars'
                                i.material-icons event_available
                        .progress
                            .determinate#configProgress(style="width: 0%")
                        br
                        span Loading
                            = taskName

else

    ul.collection.with-header
        if device.platform === 'Android'
            li.collection-header
                h5= t('synchronisation title')
            li.collection-item
                p
                    input#contactSyncCheck(type="checkbox", checked=syncContacts)
                    label(for='contactSyncCheck')= t('contacts sync label')
                p
                    input#calendarSyncCheck(type="checkbox", checked=syncCalendars)
                    label(for='calendarSyncCheck')= t('calendars sync label')
                p
                    input#cozyNotificationsCheck(type="checkbox", checked=cozyNotifications)
                    label(for='cozyNotificationsCheck')= t('cozy notifications sync label')

        li.collection-header
            h5= t('backup title')
            li.collection-item
                if device.platform === 'Android'
                    p
                        input#imageSyncCheck(type="checkbox", checked=syncImages)
                        label(for='imageSyncCheck')= t('images sync label')
                p
                    input#wifiSyncCheck(type="checkbox", checked=syncOnWifi)
                    label(for='wifiSyncCheck')= t('wifi sync label')


        li.collection-header
            h5= t('reset title')

        li.collection-item
            p= t('synchro warning')
            p.center
                button#synchrobtn.waves-effect.waves-light.btn.bg-cozy-color
                    i.material-icons.left cloud_download
                    = t('retry synchro')


        li.collection-header
            h5= t('support')

        li.collection-item
            p= t('send log info')
            p.center
                button#sendlogbtn.waves-effect.waves-light.btn.bg-cozy-color
                    i.material-icons.left send
                    = t('send log')
